# Chapitre 14 - Data - Un fichier contenant des informations sur les passagers du Titanic
Les données (légèrement modifiées) sont issues du site du site Kaggel : <br />
https://www.kaggle.com/c/titanic

Ce fichier `titanic.csv` contient les descripteurs suivants :
* `PassengerId`, un numéro d’identifiant des passager ;
* `Survived`, 0 pour Non, 1 pour Oui ;
* `Pclass`, billet 1 re , 2 e ou 3 e classe ;
* `Name`, Nom et Prénoms du passager ;
* `Sex`, le genre, male ou female ;
* `Age`, l’âge en années ;
* `Sibsp`, nombre de frères, sœurs, demi-frères, demi-soœurs, époux, épouse à bord ; (les maîtresses et fiancées sont ignorées)
* `Parch`, nombre de parents ou d’enfants à bord ; (bien que certains enfants voyageaient avec une nurse parch=0)
* `Ticket`, numéro du ticket ;
* `Fare`, le tarif ;
* `Cabin`, numéro de la cabine ;
* `Embarked`, port d’embarquement ; C = Cherbourg, Q = Queenstown, S = Southampton.

## Importation d'un fichier CSV

In [1]:
# pour lire en UTF8, n'est pas toujours nécessaire
import codecs

# ouverture du fichier en mode lecture 'r' pour 'read'
fichier = codecs.open("titanic.csv", 'r', 'utf-8')

# on crée la table de données
titanic = []

# on lit le fichier pour transférer les données dans la table
for ligne in fichier:
    # on enlève le retour à la ligne \r et la nouvelle ligne \n
    ligne = ligne.replace('\r','')
    ligne = ligne.replace('\n','')
    # on récupère chaque données de la ligne séparées par une virgule sous la forme d'un tableau
    ligne = ligne.split(',')
    # on rajoute ce tableau à notre table
    titanic.append(ligne)

# fermeture du fichier
fichier.close()

## Réponses aux questions de l'exercice
1. A l’aide de différentes fonctions, déterminer le nombre :
* de survivants
* de décédés
* de 1re classe
* de 2e classe
* de 3e classe
* de femmes survivantes en 1re classe
* d’hommes décédés en 3e classe

Pour le nombre de survivants :

In [2]:
def nb_survivants(titanic):
    nb = 0
    for passager in titanic :
        if passager[1] == '1':
            # c'est un survivant
            nb = nb + 1
    return nb

In [3]:
nb_survivants(titanic)

494

Pour le nombre de personnes décédées, nous avons deux solutions :
* Première solution : soit on calcule directement le nombre de personnes mortes (comme pour le nombre de survivants)

In [4]:
def nb_morts(titanic):
    nb = 0
    for passager in titanic :
        if passager[1] == '0':
            # c'est un mort
            nb = nb + 1
    return nb

In [5]:
nb_morts(titanic)

815

* Deuxième solution : on fait la soustraction entre le nombre de personnes dans le titanic moins le nombre de personnes survivantes. **Mais attention !**, le tableau `titanic` contient une ligne de plus que le nombre de passagers car il y a la première ligne qui est la ligne des descripteurs.

In [6]:
def nb_morts_v2(titanic):
    nb_passagers = len(titanic) - 1
    return nb_passagers - nb_survivants(titanic)

In [7]:
nb_morts_v2(titanic)

815

Pour le nombre de passagers par classe, on peut écrire une fonction qui renverra un tuple contenant les 3 valeurs attendues `(classe1, classe2, classe3)`.

In [12]:
def classe(titanic):
    classe1, classe2, classe3 = 0, 0, -1
    for passager in titanic :
        if passager[2] == '1':
            # c'est un passger de 1ère classe
            classe1 = classe1 + 1
        elif passager[2] == '2':
            # c'est un passger de 2ième classe
            classe2 = classe2 + 1
        else :
            # c'est un passager de 3ième classe
            classe3 = classe3 + 1
    return classe1, classe2, classe3

In [13]:
classe(titanic)

(323, 277, 709)

**Questions subsidiaires :** <br />
Savez-vous pourquoi on assigne la valeur `-1` à la variable `classe3` au début de la fonction ? <br />
...

Pour les deux dernières dernières questions, on peut remarquer qu'elles se ressemble beaucoup. <br />
On va donc écrire une fonction qui aura pour arguments `sex`, `survived` et `pclass`.

In [22]:
def requete(sex, survived, pclass):
    nb = 0
    for passager in titanic :
        if passager[5] == sex and passager[1] == survived and passager[2] == pclass:
            nb = nb + 1
    return nb

Ainsi pour le nombre de passagers femmes survivantes de 1ère classe

In [23]:
requete('female', '1', '1')

141

Et pour le nombre de passager hommes décédés de 3ième classe

In [24]:
requete('male', '0', '3')

446

... à finir ...